<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="../../img/favicon.ico" type = "image/x-icon">
		
		<title>{{{__ "pageheader1"}}} {{{__ "pageheader2"}}}</title>

		<!-- Bootstrap core CSS -->
		<link href="{{{__ "css1"}}}" rel="stylesheet">
		<link href="{{{__ "css2"}}}" rel="stylesheet">
		<link href = '{{{__ "css"}}}' rel = 'stylesheet'>
		<link href="{{{__ "css3"}}}" rel="stylesheet">
		<style type="text/css">
			th {
				text-align: {{{__ "textalign"}}}
			}
			#map-canvas {
    width:100%;
    height:400px;
}


/* Optional responsive image override */
/*img { max-width: none; }*/
			/*ul {
				float: right;
			}*/

		</style>
	</head>
	<body>
		<div id = "wrap">
			{{{body}}}
		</div>
	 <div id="footer">
      <div class="container {{{__ "textpos"}}}">
        <p class="text-muted">
        		<a href="{{arUrl}}" class="btn btn-default" {{{__ "disabledar"}}}>العربية</a>
        		<a href="{{enUrl}}" class="btn btn-default" {{{__ "disableden"}}}>English</a>
        </p>
      </div>
    </div>
	  <!-- Bootstrap core JavaScript
	  ================================================== -->
	  <!-- Placed at the end of the document so the pages load faster -->
	</body>
</html>
